# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environment folders
.venv/
Scripts/
pip-wheel-metadata/

# IDE and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build and logs
build/
dist/
*.log
*.sqlite3
*.db

# Environment variables
.env
